<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Housing Page</title>
</head>
<body>
  
    <h1>on housing page</h1>
    <a href="/map">go to Maps</a>
    <a href="/profile">go to Profile</a>
    <a href="/logout">Sign Out</a>  
    <br><br>
    <img src="bee-60.png">


</body>
</html>