<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Maps Page</title>
</head>
<body>

  <h1>on map page</h1>
    <a href="/housing">go to housing</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Sign Out</a>  
    <br><br>
    <img src="./bee-60.png">


    <p>on map page</p>
</body>
</html>